.cart {
  width: 100%;
  position: relative;
  padding: 26px 0 28px 23.5%;
  border-bottom: 1px solid #ececec;
  background-color: white;
  color: #000000;
  display: flex;
  align-items: flex-start;
}

.cart__icon {
  display: block;
  position: absolute;
  width: 21px;
  height: 19px;
  left: 30px;
  top: 30px;
  opacity: 0.2;
}

.cart:hover {
  color: rgba(0, 0, 0, 0.6);

  & .cart__icon {
    fill: @lg;
    opacity: 1;
  }
}

.cart:active {
  color: rgba(0, 0, 0, 0.3);

  & .cart__icon {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .cart {
    width: 314px;
    padding: 32px 50px 0 0;
    text-align: right;
    border-bottom: 1px solid #ececec;
    background-color: white;
    z-index: 3;

    &::before {
      left: 32px;
      top: 34px;
      background-position: center;
    }
  }
}

@media (min-width: 1150px) {
  .cart {
    width: 316px;
    padding-top: 32px;
  }
}
