.cart {
  width: 100%;
  position: relative;
  padding: 26px 0 28px 23.5%;
  border-bottom: 1px solid #ececec;
  background-color: white;
  color: #000000;
}

.cart__icon {
  display: block;
  position: absolute;
  width: 21px;
  height: 19px;
  left: 10%;
  top: 30px;
  opacity: 0.2;
}

.cart:hover {
  color: rgba(0, 0, 0, 0.6);

  & .cart__icon {
    fill: @lg;
    opacity: 1;
  }
}

.cart:active {
  color: rgba(0, 0, 0, 0.3);

  & .cart__icon {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .cart {
    width: 314px;
    padding: 32px 50px 0 31px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ececec;
    background-color: white;
    z-index: 3;
  }

  .cart__icon {
    position: static;
    margin: 3px auto 0 0;
  }
}


@media (min-width: 1150px) {
  .cart {
    width: 316px;
    padding-top: 32px;
  }
}
