.good-card {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 1px #ececec;
  position: relative;
}

.good-card__wrapper {
  display: flex;
  flex-direction: column;
}

.good-card__header {
  font-size: 17px;
  line-height: 24px;
  color: black;
  margin: 27px 10.85% 5px;
}

.good-card__description {
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  color: @444;
  margin: 0 10.85% 19px;
}

.good-card__bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 10% 0 10.5%;
  padding: 21px 0 28px;
  border-top: 1px solid #ececec;
}

.good-card__price {
  font-size: 15px;
}

.good-card__cart {
  width: 21px;
  height: 19px;
  border: none;
  padding: 0;
  margin-top: 1px;
  background: transparent url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: 2;
  cursor: pointer;
  outline: none;
}

.good-card__cart:hover,
.good-card__cart:focus {
  background-image: url("../img/icon-cart_gr.svg");
  opacity: 1;
}

.good-card__cart:active {
  opacity: 0.3;
}

.good-card__image-wrap {
  display: block;
  width: 100%;
  overflow: hidden;
  background-color: #ececec;
  z-index: 1;
}

.good-card__image {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .good-card__wrapper {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  .good-card__link {
    z-index: 1;
  }

  .good-card__bottom {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 0;
    }
  }

  .good-card__image-wrap:hover ~ .good-card__wrapper {
    &::after {
      box-shadow: 2px 5px 15px -8px gray;
    }
  }

  .good-card__image-wrap:active ~ .good-card__wrapper {
    &::after {
      box-shadow: 2px 5px 15px -10px gray;
    }
  }

  .good-card__link:hover ~ .good-card__bottom {
    &::after {
      box-shadow: 2px 5px 15px -8px gray;
    }
  }

  .good-card__link:active ~ .good-card__bottom {
    &::after {
      box-shadow: 2px 5px 15px -10px gray;
    }
  }

  .good-card__header {
    font-size: 20px;
  }

  .good-card__description {
    font-size: 15px;
    position: relative;
  }

  .good-card__price {
    font-size: 17px;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
  .good-card {
    flex-direction: row;
  }

  .good-card__image-wrap {
    width: 50%;
    min-height: 334px;
  }

  .good-card__image {
    width: 100%;
    height: 100%;
  }

  .good-card__wrapper {
    width: 50%;
  }

  .good-card__header {
    margin: 26px 8% 4px;
  }

  .good-card__description {
    margin: 0 8% 19px;
  }

  .good-card__bottom {
    margin: auto 9.5% 0;
    padding: 22px 0 26px;
  }
}

@media (min-width: 1150px) {
  .good-card__image-wrap {
    min-height: 462px;
  }

  .good-card__wrapper {
    flex-grow: 1;
  }

  .good-card__bottom {
    margin: auto 10% 0 8%;
    padding: 22px 0 26px;
  }

  .good-card__header {
    margin: 26px 8.15% 5px;
  }

  .good-card__description {
    margin: 0 8.15% 14px;
  }
}
