.main-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}

.main-header__menu {
  display: none;
}

.main-header__head {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 76px;
}

.main-header__description {
  display: block;
  margin: 0;
  width: 100%;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  padding: 70px 30px 122px;
  background: url("../img/hero-mobile@1x.jpg") center 20%;
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;
}

.main-header__button {
  font-size: 19px;
  line-height: 24px;
  padding: 25px 250px 30px 28px;
  color: rgba(255, 255, 255, 1);
  background-color: red;
}

.main-header__button:first-child {
  background-color: #63d1bb;
}

.main-header__button:last-child {
  background-color: #46c1ae;
}
