.order {
  width: 100%;
  .font(17px, 24px, bold);
  color: black;
}

.order__tip {
  display: block;
  min-width: 320px;
  max-width: 600px;
  padding: 0 9.38%;
  margin: 21px auto 25px;
  font-weight: normal;
  font-size: 13px;
  color: @444;
}
// .order__wide-back{
//   background-color: #f1f1f1;
// }
