.order-form__wrapper {
  min-width: 320px;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 9.38%;
  display: flex;
  flex-direction: column;
}

.order-form__header {
  font-size: 17px;
  line-height: 16px;
  color: @lg;
  margin: 0;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    width: 600px;
    height: 1px;
    margin-left: 62px;
    background-color: @lg;
    position: absolute;
    top: 7px;
  }
}

.order-form__header--email {
  &::after {
    margin-left: 75px;
  }
}

.order-form__container {
  display: flex;
  flex-direction: column;
  padding-top: 33px;
  padding-bottom: 18px;
}

.order-form__container--color {
  padding-top: 36px;
}

.order-form__type,
.order-form__color {
  display: none;
}

.order-form__label {
  line-height: 18px;
  position: relative;
}

.order-form__label--type:nth-of-type(1) {
  min-height: 61px;
}

.order-form__label--type,
.order-form__label--color {
  padding-left: 62px;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 39px;
    border: 2px solid @444;
    left: 0;
    top: -10px;
  }
}

.order-form__label--type {
  padding-bottom: 25px;

  &::before {
    width: 39px;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: @lg;
    left: 12px;
    top: 2px;
    display: none;
  }
}

.order-form__label--color {
  padding-bottom: 43px;

  &::before {
    top: -12px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 22px;
    border-bottom: 2px solid @444;
    border-right: 2px solid @444;
    transform: rotate(45deg);
    left: 14px;
    top: -6px;
    display: none;
  }
}

.order-form__label--color:last-of-type {
  padding-bottom: 23px;
}

.order-form__type:checked + .order-form__label::after,
.order-form__color:checked + .order-form__label::after {
  display: block;
}

.order-form__container--fullname {
  padding-top: 28px;
}
//////////////////////////////////////////////////////////
.order-form__fullname {
  border: none;
  // border-bottom: 2px solid black;
  padding: 16px 0;
  margin-bottom: 22px;
  // opacity: 0.5;
}
///////////////////////////////////////////////////////////////////////////
.order-form__cage {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.order-form__label-fullname {
  position: relative;
  order: -1;

  &::after {
    content: "";
    display: block;
    width: 600px;
    height: 2px;
    // margin-left: 62px;
    background-color: @lg;
    position: absolute;
    top: 70px;
  }
}

.order-form__fullname::placeholder {
  color: pink;
}


.order-form__fullname:hover + .order-form__label-fullname::after {
  background-color: red;
}
//////////////////////////////////////////////////////////////////////////////////////////
.order-form__fullname:hover {
  border-color: @lg;
}

.order-form__fullname:focus {
  opacity: 1;
  border-color: @lg;
  outline: none;
}

.order-form__fullname:last-of-type {
  margin-bottom: 13px;
}

.order-form__contacts {
  border: none;
  padding: 16px 0 14px;
  opacity: 0.5;
}

.order-form__fullname,
.order-form__contacts,
.order-form__add {
  width: 100%;
  font: unset;
  .font(17px, 18px, normal);
  color: @444;
}

.order-form__contacts--phone {
  font-size: 19px;
}

.order-form__contacts--email {
  padding: 21px 0 17px;
}

.order-form__add {
  margin: 24px 0 16px;
  padding: 15px;
  border: 2px solid @444;
  resize: none;
}

.order-form__note {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.order-form__btn {
  margin: 31px 0 55px;
}



.order-form__contacts-icon {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 32px;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 24px;
    background-image: url("../img/icon-phone.svg");
    right: 8px;
    top: -39px;
    opacity: 0.2;
  }
}

.order-form__contacts-icon--email {
  &::after {
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-mail.svg");
    right: 5px;
  }
}

.order-form__contacts:hover + .order-form__contacts-icon {
  background-color: @lg;
}

.order-form__contacts:focus + .order-form__contacts-icon {
  background-color: @lg;
}
