.page-header {
  min-width: 320px;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  .font(17px, 24px, bold);
  color: #000000;
}

.page-header__logo-wrapper {
  width: 100%;
  padding: 22px 0 16px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.hao(~".page-header__logo--link");

.page-header__btn-menu {
  display: block;
  position: absolute;
  width: 20px;
  height: 14px;
  background-color: transparent;
  border: none;
  border-top: 2px solid #221f1f;
  border-bottom: 2px solid #221f1f;
  top: 33px;
  right: 30px;

  &::after {
    content: "";
    display: block;
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #221f1f;
    top: 0;
    left: -6px;
  }
}

.page-header__btn-menu--close {
  border: none;

  &::after {
    width: 27px;
    left: -9px;
    top: -1px;
    transform: rotate(45deg);
  }

  &::before {
    content: "";
    display: block;
    position: relative;
    width: 27px;
    height: 2px;
    background-color: #221f1f;
    top: 1px;
    left: -9px;
    transform: rotate(-45deg);
  }
}

.page-header__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .page-header__logo{
//   display: block;
//   margin: 0 auto;
// }
