.page-header__container {
  width: 100%;
  min-width: 320px;
  max-width: 550px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .font(17px, 24px, bold);
  color: #000000;
}

.page-header__logo-wrapper {
  width: 100%;
  padding: 21px 0 22px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.page-header__logo-image {
  display: block;
}

.hao(~".page-header__logo--link");

.page-header__btn-menu {
  display: none;
  position: absolute;
  width: 20px;
  height: 14px;
  background-color: transparent;
  border: none;
  border-top: 2px solid #221f1f;
  border-bottom: 2px solid #221f1f;
  top: 32px;
  right: 10%;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    position: relative;
    width: 27px;
    height: 2px;
    background-color: #221f1f;
    top: 0;
    left: -8px;
  }
}

.page-header__btn-menu--close {
  border: none;

  &::after {
    left: -9px;
    top: -1px;
    transform: rotate(45deg);
  }

  &::before {
    content: "";
    display: block;
    position: relative;
    width: 27px;
    height: 2px;
    background-color: #221f1f;
    top: 1px;
    left: -9px;
    transform: rotate(-45deg);
  }
}

.hao(~".page-header__btn-menu");


.page-header__bottom {
  display: none;
}

.page-header__profit {
  display: none;
}

@media (min-width: 768px) {
  @media (max-width: 1149px) {
    .page-header {
      background-image: linear-gradient(to bottom, white 88px, #f9f9f9 88px);
    }

    .page-header--pages {
      background-image: linear-gradient(to bottom, white 88px, #f1f1f1 88px);
    }
  }

  .page-header__container {
    max-width: 950px;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .page-header__nav {
    order: 1;
  }

  .page-header__logo-wrapper {
    width: auto;
    border-top: none;
    padding: 22px 0 20px 6.51%;
    justify-content: flex-start;
    flex-grow: 1;
    background-color: white;
  }

  .page-header__logo-image {
    width: 112px;
    height: auto;
  }

  .page-header__btn-menu {
    display: none;
  }

  .page-header__bottom {
    order: 2;
    display: flex;
  }


  .page-header__delivery {
    display: block;
    order: 2;
    font-weight: normal;
    font-size: 15px;
    color: @444;
    padding: 17px 50px 0 11px;
    margin-left: auto;
  }

  .hao(~".page-header__delivery");
}

@media (min-width: 1150px) {
  .page-header__container {
    max-width: 1450px;
  }

  .page-header__logo-wrapper {
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .page-header__logo {
    margin-right: 95px;
  }

  .page-header__logo-image {
    width: 148px;
  }

  .page-header__bottom {
    width: 100%;
    background-color: #f9f9f9;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: calc(50vw - 50%);
      left: calc(-1 * (50vw - 50%));
      top: 0;
      background-color: #f9f9f9;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: calc(50vw - 50% - 9px);
      right: calc(-1 * (50vw - 50% - 9px));
      top: 0;
      background-color: #f9f9f9;
    }
  }

  .page-header__bottom--pages {
    background-color: #f1f1f1;

    &::before,
    &::after {
      background-color: #f1f1f1;
    }
  }

  .page-header__profit {
    max-width: 74%;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    list-style: none;
    padding: 0;
    padding-left: 50px;
    padding-top: 17px;
    margin: 0;
    margin-right: auto;
  }

  .page-header__link {
    color: black;
    padding-right: 60px;
  }

  .hao(~".page-header__link");
}
