.page-header__container {
  width: 100%;
  min-width: 320px;
  max-width: 550px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .font(17px, 24px, bold);
  color: #000000;
}

.page-header__logo-wrapper {
  width: 100%;
  padding: 22px 0 16px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.hao(~".page-header__logo--link");

.page-header__btn-menu {
  display: block;
  position: absolute;
  width: 20px;
  height: 14px;
  background-color: transparent;
  border: none;
  border-top: 2px solid #221f1f;
  border-bottom: 2px solid #221f1f;
  top: 33px;
  right: 10%;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    position: relative;
    width: 27px;
    height: 2px;
    background-color: #221f1f;
    top: 0;
    left: -8px;
  }
}

.page-header__btn-menu--close {
  border: none;

  &::after {
    left: -9px;
    top: -1px;
    transform: rotate(45deg);
  }

  &::before {
    content: "";
    display: block;
    position: relative;
    width: 27px;
    height: 2px;
    background-color: #221f1f;
    top: 1px;
    left: -9px;
    transform: rotate(-45deg);
  }
}

.hao(~".page-header__btn-menu");


.page-header__profit {
  display: none;
}

.page-header__delivery {
  display: none;
}

@media (min-width: 768px) {
  .page-header {
    background-image: linear-gradient(to bottom, white 88px, #f9f9f9 88px);
  }

  .page-header--pages {
    background-image: linear-gradient(to bottom, white 88px, #f1f1f1 88px);
  }

  .page-header__container {
    max-width: 950px;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .page-header__logo-wrapper {
    width: auto;
    border-top: none;
    padding: 24px 0 23px 6.51%;
    justify-content: flex-start;
    flex-grow: 1;
    background-color: white;
  }

  .page-header__btn-menu {
    display: none;
  }

  .page-header__menu {
    flex-direction: row;
  }

  .page-header__delivery {
    display: block;
    order: 2;
    font-weight: normal;
    font-size: 15px;
    color: @444;
    padding: 17px 50px 0 11px;
    margin-left: auto;
  }
}

// @media (min-width: 1150px) {
//   .page-header__container {
//     max-width: 1450px;
//   }

//   .page-header__logo-wrapper {
//     padding: 0;
//     align-items: center;
//     justify-content: center;
//   }

//   .page-header__logo {
//     margin-right: 75px;
//   }

//   .page-header__profit {
//     max-width: 74%;
//     display: flex;
//     flex-wrap: wrap;
//     font-size: 15px;
//     list-style: none;
//     padding: 0;
//     padding-left: 50px;
//     padding-top: 17px;
//     margin: 0;
//     margin-right: auto;
//   }

//   .page-header__link {
//     color: black;
//     padding-right: 60px;
//   }
// }
