.reviews__wrapper {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 0 9% 44px;
  font-size: 0;
}

.reviews__message {
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: @444;
  padding-top: 8px;
  padding-bottom: 12px;
  margin-top: 16px;
}

.reviews__fullname {
  font-size: 17px;
}

.reviews__username {
  font-size: 17px;
  font-weight: normal;
  line-height: 26px;
  color: @444;
  display: block;
  margin-bottom: 30px;
}

.reviews__arrow {
  display: inline-block;
  padding: 0;
  width: 50%;
  height: 52px;
  background-color: white;
  border: 1px solid #ececec;
  margin-bottom: 38px;

  &--left {
    background-image: url("../img/icon-left-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--right {
    border-left: none;
    background-image: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.reviews__btn {
  width: 100%;
}

@media (min-width: 768px) {
  .reviews {
    max-width: 950px;
    margin: 0 auto;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-bottom: 70px;
  }

  .reviews__wrapper {
    max-width: 950px;
    min-height: 454px;
    padding: 76px 6.51% 44px;
    position: relative;
  }

  .reviews__header {
    margin-left: -5px;
  }

  .reviews__message {
    font-size: 17px;
    padding: 49px 20px 57px 0;
    margin: 0;
  }

  .reviews__fullname {
    font-size: 18px;
  }

  .reviews__username {
    line-height: 30px;
    margin: -3px 0 0 0;
  }

  .reviews__arrow {
    width: 88px;
    border: none;
    position: absolute;
    right: 6.51%;
    bottom: 9px;

    &--left {
      right: 17.9%;
    }
  }

  .reviews__btn {
    width: 175px;
    position: absolute;
    right: 6.51%;
    top: 78px;
  }
}
