.search {
  width: 100%;
  padding: 20px 0 15px;
  position: relative;
  border-bottom: 1px solid #ececec;
  background-color: white;
}

.search__input {
  width: 90%;
  margin: 0 5%;
  padding: 10px 0 10px 5px;
  position: relative;
  z-index: 2;
  border-color: #63d1bb;
  outline: none;
  border-image: none;
  border-style: solid;
}

.search__label {
  position: absolute;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  padding: 25px 0 25px 24%;
  background-color: white;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url("../img/sprite.svg#search-view");
    background-repeat: no-repeat;
    left: 10%;
    top: 30px;
    opacity: 0.3;
  }
}

.search__label:hover {
  color: rgba(0, 0, 0, 0.6);

  &::before {
    background-image: url("../img/sprite.svg#search-view-green");
    opacity: 1;
  }
}

.search__label:active {
  color: rgba(0, 0, 0, 0.3);

  &::before {
    background-image: url("../img/sprite.svg#search-view-green");
    opacity: 0.4;
  }
}

.search__input:focus {
  z-index: 4;
}

.search__btn {
  display: none;
}

@media (min-width: 768px) {
  .search {
    width: 84px;
    display: flex;
    align-items: center;
    padding: 0;
    border-left: 1px solid #ececec;
  }

  .search__input {
    width: 260px;
    margin: 0;
    position: absolute;
    right: -265px;
    top: 25px;
  }

  .search__label {
    padding: 32px 0;
    font-size: 0;
    border-right: 1px solid #ececec;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    cursor: pointer;

    &::before {
      position: static;
      margin: 3px auto 0;
    }

    .search__input:focus {
      z-index: 4;
    }
  }
}

@media (min-width: 1150px) {
  .search {
    width: 7.3%;
  }

  .search__btn {
    display: block;
    position: absolute;
    border: none;
    width: 100%;
    height: 88px;
    padding: 0;
    left: 0;
    top: 0;
    background-color: white;
    background-image: url("../img/sprite.svg#search-view-green");
    background-repeat: no-repeat;
    background-position: 49% 53%;
    background-size: 22px 20px;
    outline: none;
    cursor: pointer;

    &:hover {
      z-index: 5;
      background-size: 24px 22px;
    }

    &:active {
      z-index: 5;
      background-size: 22px 20px;
      outline: none;
    }
  }

  .search__input:focus + .search__btn {
    z-index: 5;
  }
}
