.social {
  width: 260px;
  padding: 16px 0 10px;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 5px 0 0;
}

.social__item {
  margin: 0 20px;
}

.social__icon {
  height: 22px;
  width: 22px;

  &--insta {
    height: 22px;
  }

  &--fb {
    height: 50px;
    width: 16px;
  }

  &--twitter {
    width: 23px;
  }
}

@media (min-width: 768px) {
  .social {
    padding: 0;
  }
}
