.good-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
  margin-bottom: 30px;
}

.good-card__header {
  font-size: 17px;
  line-height: 24px;
  color: black;
  margin: 21px 28px 4px;
}

.good-card__description {
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  color: @444;
  margin: 0 28px 19px;
}

.good-card__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 25px 0 27px;
  padding: 20px 0 28px;
  border-top: 1px solid #ececec;
}

.good-card__price {
  font-size: 15px;
}

.good-card__cart {
  width: 21px;
  height: 19px;
  border: none;
  padding: 0;
  margin-top: 3px;
  background: transparent url("../img/icon-cart.svg");
  opacity: 0.3;
}
